<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.css">
    <title>404 - Bulunamadı </title>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="nav">
                <ul>
                    <li class="home"><a href="#"></a></li>
                    <li class="tutorials"><a href="#"></a></li>
                    <li class="about"><a href="#"></a></li>
                </ul>
            </div>
            <div class="center-area">
                <div class="max-404-text">404</div>
                <div class="text-404">sayfa bulunamadı... aradığın şey her neyse burada yok gibi.. belki de vardır her
                    neyse<br> anasayafaya ışınlanmak için aşağıdaki butona tıkla</div>
                <div class="anasayfa-r-button">
                    <form action="/user-home">
                        <button type="submit">Anasayfa</button>
                    </form>
                </div>
            </div>
            <div class="clear"></div>
            <div class="footer">&copy; Copyrights - 2019 | IntTechProje </div>
        </div>
    </div>
</body>

</html>