<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin - Anasayfa</title>
     <link rel="stylesheet" href="assets/css/style-2.css">
</head>
<body>
     <div class="container">
      <div class="header">
          <div class="nav">
            <ul>
                <li class="home"><a href="#">
                    <form class="form-wrapper cf">
                        <input type="search" placeholder="Aranacak Metin..." required>
                    </form></a></li>
                <li class="tutorials"><a href="/admin-home">Site Logo</a></li>
                <li class="about"><a href="/cikis">Çıkış Yap</a></li>
            </ul>
         </div>
         <div class="center-area">
                 <div class="adminana"><a href="/kullanici-ayarlari">Kullanıcı Ayarları</a> </div>
                 <div class="adminana"><a href="/envanterler">Envanterler </a> </div>
                 <div class="adminana"><a href="/talepler">Talepler</a> </div>
                 <div class="adminana"><a href="/site-ayarlari">Site Ayarları </a> </div>
                 <div class="adminana"><a href="/raporlar">Raporlar </a></div>
                 <div class="adminana1">Hoş geldin patron..ani bir durum olursa sana buradan
bilgiler vereceğim.. </div>
<div class="ft"> Copyrights - 2019 | IntTechProje</div>
         </div>
</body
</html>