<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.css">
    <title>Admin - Anasayfa</title>
</head>
<body>
    <div class="container">
      <div class="header">
          <div class="nav">
            <ul>
                <li class="home"><a href="/admin-home">Anasayfa</a></li>
                <li class="tutorials"><a href="/admin-home">Site Logo</a></li>
                <li class="about"><a href="/cikis">Çıkış Yap</a></li>
            </ul>
         </div>
         <div class="center-area">
            <div class="admin-left-menu">
                <a href="/kullanici-listele"><div class="admin-left-menu-item">Kullanıcı Ayarları</div></a>
                <a href="/envanterler"><div class="admin-left-menu-item">Envanterler</div></a>
                <a href="/teknisyen-home"><div class="admin-left-menu-item">Talepler</div></a>
                <a href="/site-ayarlari"><div class="admin-left-menu-item">Site Ayarları</div></a>
                <a href="/raporlar"><div class="admin-left-menu-item">Raporlar</div></a>
            </div>
            <div class="admin-left-area">Admin Anasayfa</div>
         </div>
          <div class="clear"></div>
         <div class="footer">&copy; Copyrights - 2019 | IntTechProje </div>
      </div>  
    </div>
</body>
</html>