<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style-2.css">
    <title>Aranma Sonuçları</title>
</head>
<body>
    <div class="container">
      <div class="header">
          <div class="nav">
            <ul>
                <li class="home"><a href="/taleplerim">Taleplerimi Görüntüle</a></li>
                <li class="tutorials"><a href="/user-home">Site Logo</a></li>
                <li class="about"><a href="/cikis">Çıkış Yap</a></li>
            </ul>
         </div>
         <div class="center-area">
             <div>
                 <div class="ist" >Arama Sonuçları</div>
                  <a href="#"><div class="ist" >Talepler 1 <div class="cop"><img width="25" height="25" src="assets/img/arama.jpg" /></div></div></a>
                 <a href="#"><div class="ist" >Talepler 2 <div class="cop"><img width="25" height="25" src="assets/img/edt.jpg" /></div></div></a>
             </div>
         </div>
         <div class="clear"></div>
         <div class="footer">&copy; Copyrights - 2019 | IntTechProje </div>
      </div>  
    </div>
</body>
</html>