<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.css">
    <title>Envanterler</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="nav">
                <ul>
                    <li class="home"><a href="/admin-home">Anasayfaya geri dön</a></li>
                    <li class="tutorials"><a href="/admin-home">Site Logo</a></li>
                    <li class="about"><a href="/cikis">Çıkış Yap</a></li>
                </ul>
            </div>
            <div class="center-area">
                <div class="global-pages">
                    <a href="/envanterler">
                        <div class="global-pages-title">Envanterler</div>
                    </a>
                    <div class="envanter-area">
                        <div class="envanter-img"><a href=""><img src="assets/img/envanter.png" alt=""></a></div>
                        <div class="envanter-text"><a href="">Envanter - 1</a></div>
                        <div class="envanter-buton">
                            <a href="/envanter-goruntule"><button type="submit">Görüntüle</button></a>
                            <a href="/envanter-duzenle"><button type="submit">Düzenle</button></a>
                        </div>
                    </div>
                    <div class="envanter-area">
                        <div class="envanter-img"><a href=""><img src="assets/img/envanter.png" alt=""></a></div>
                        <div class="envanter-text"><a href="">Envanter - 2</a></div>
                        <div class="envanter-buton">
                            <a href="/envanter-goruntule"><button type="submit">Görüntüle</button></a>
                            <a href="/envanter-duzenle"><button type="submit">Düzenle</button></a>
                        </div>
                    </div>
                    <div class="envanter-area">
                        <div class="envanter-img"><a href=""><img src="assets/img/envanter.png" alt=""></a></div>
                        <div class="envanter-text"><a href="">Envanter - 3</a></div>
                        <div class="envanter-buton">
                            <a href="/envanter-goruntule"><button type="submit">Görüntüle</button></a>
                            <a href="/envanter-duzenle"><button type="submit">Düzenle</button></a>
                        </div>
                    </div>
                    <div class="envanter-area">
                        <div class="envanter-img"><a href=""><img src="assets/img/envanter.png" alt=""></a></div>
                        <div class="envanter-text"><a href="">Envanter - 4</a></div>
                        <div class="envanter-buton">
                            <a href="/envanter-goruntule"><button type="submit">Görüntüle</button></a>
                            <a href="/envanter-duzenle"><button type="submit">Düzenle</button></a>
                        </div>
                    </div>
                    <div class="envanter-area-ekle">
                        <a href="/envanter-ekle">Envanter Eklemek için tıklayın...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="footer">&copy; Copyrights - 2019 | IntTechProje </div>
    </div>
    </div>
</body>

</html>