<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Günlük yapılması gereken taleplerim</title>
     <link rel="stylesheet" href="assets/css/style-2.css">
</head>
<body>
     <div class="container">
      <div class="header">
          <div class="nav">
            <ul>
                <li class="home"><a href="#">
                    <form class="form-wrapper cf">
                        <input type="search" placeholder="Aranacak Metin..." required>
                    </form></a></li>
                <li class="tutorials"><a href="/teknisyen-home">Site Logo</a></li>
                <li class="about"><a href="/cikis">Çıkış Yap</a></li>
            </ul>
         </div>
         <div class="center-area">
            <a href="/gunluk-yapilmasi-gereken-taleplerim"> <div class="box1">Günlük yapılması gereken taleplerim</div></a>
                 <a href="#"><div class="ist" >Talepler 1 <div class="cop"><img width="25" height="25" src="assets/img/edt.jpg" /><div class="cop"><img width="25" height="25" src="assets/img/cop.jpg" /></div></div></div></a>
                 <a href="#"><div class="ist" >Talepler 2 <div class="cop"><img width="25" height="25" src="assets/img/edt.jpg" /><div class="cop"><img width="25" height="25" src="assets/img/cop.jpg" /></div></div></div></a>
              
         
         </div>
    
</body>
</html>