<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.css">
    <title>İstek Ayrıntıso</title>
</head>
<body>
    <div class="container">
      <div class="header">
          <div class="nav">
            <ul>
                <li class="home"><a href="/taleplerim">Taleplerimi Görüntüle</a></li>
                <li class="tutorials"><a href="/user-home">Site Logo</a></li>
                <li class="about"><a href="/cikis">Çıkış Yap</a></li>
            </ul>
         </div>
         <div class="center-area">
             <div class="center-area-title">İstek Ayrıntıları</div>
            <div class="center-area-1">
                <div class="center-area-1-title">Talep Edenin Ayrıntıları</div>
                <div class="user-info-area">
                    <input type="text" placeholder="Ad Soyad">
                    <input type="text" placeholder="Username">
                    <input type="text" placeholder="E-mail adresi">
                </div>
            </div>
            <div class="clear"></div>
            <div class="center-area-2">
                <input type="text" name="subject" placeholder="Konu...">
            </div>
            <div class="clear"></div>
            <div class="center-area-3">
                <textarea name="" placeholder="çözümünüz"></textarea>
            </div>
             <div class="center-area-4">
                <button type="submit">Hizmet isteği oluştur</button>
            </div>
         </div>
          <div class="clear"></div>
         <div class="footer">&copy; Copyrights - 2019 | IntTechProje </div>
      </div>  
    </div>
</body>
</html>