<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kategori Ayarları</title>
     <link rel="stylesheet" href="assets/css/style-2.css">
</head>
<body>
     <div class="container">
      <div class="header">
            <div class="nav">
            <ul>
                <li class="home"><a href="/site-ayarlari">Ayarlara Geri Dön</a></li>
                <li class="tutorials"><a href="/user-home">Site Logo</a></li>
                <li class="about"><a href="/cikis">Çıkış Yap</a></li>
            </ul>
         </div>
         <div class="center-area">
            <a href="/kategori-ayarlari"><div class="box1">Kategori Ayarları</div></a>
             <a href="/kategori-olustur"><div class="ist">Bir Kategori oluştur</div></a>
              <a href="/kategorileri-listele"><div class="ist">Kategorileri listele</div></a>
         </div>
          <div class="clear"></div>
         <div class="footer">&copy; Copyrights - 2019 | IntTechProje </div>
</body>
</html>