<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.css">
    <title>Kullanıcı Profili</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="nav">
                <ul>
                    <li class="home"><a href="/user-home">Anasayfa</a></li>
                    <li class="tutorials"><a href="/user-home">Site Logo</a></li>
                    <li class="about"><a href="/cikis">Çıkış Yap</a></li>
                </ul>
            </div>
            <div class="center-area">
                <div class="global-pages">
                    <a href="/kullanici-profili">
                        <div class="global-pages-oval-image"><img src="assets/img/userProfile.png" alt=""></div>
                    </a>
                    <form action="" method="POST">
                        <a href="#">
                            <div class="global-pages-input"><input type="text" name="kullaniciAdSoyad"
                                    placeholder="Ad - Soyad" required></div>
                        </a>
                        <a href="#">
                            <div class="global-pages-input"><input type="text" name="kullaniciSifre" placeholder="Şifre"
                                    required></div>
                        </a>
                        <a href="#">
                            <div class="global-pages-input"><input type="text" name="kullaniciEmail"
                                    placeholder="Email" required></div>
                        </a>
                        <a href="#">
                            <div class="global-pages-input"><input type="text" name="kullaniciUsername"
                                    placeholder="Username" required></div>
                        </a>
                        <a href="#">
                            <div class="global-pages-input"><button type="submit">Ekle</button></div>
                        </a>
                    </form>
                </div>
            </div>
            <div class="clear"></div>
            <div class="footer">&copy; Copyrights - 2019 | IntTechProje </div>
        </div>
    </div>
</body>

</html>