<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.css">
    <title>Kullanıcıları Listele</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="nav">
                <ul>
                    <li class="home"><a href="/kullanici-ekle">Kullanıcı Ekle</a></li>
                    <li class="tutorials"><a href="/admin-home">Site Logo</a></li>
                    <li class="about"><a href="/cikis">Çıkış Yap</a></li>
                </ul>
            </div>
            <div class="center-area">
                <div class="global-pages">
                    <a href="/kullanici-listele">
                        <div class="global-pages-title">Kullanıcı Listesi</div>
                    </a>
                    <div class="global-pages-div"><a href="#">Kullanıcı - 1</a>
                        <div class="global-pages-div-img-kategori"><a href="#"><img src="assets/img/delete.png"
                                    alt=""></a></div>
                        <div class="global-pages-div-img-kategori"><a href="/kullanici-duzenle"><img
                                    src="assets/img/edit.png" alt=""></a></div>
                        <select name="kullaniciRol" id="">
                            <option value="Admin">Admin</option>
                            <option value="Teknisyen" selected>Teknisyen</option>
                            <option value="Kullanıcı">Kullanıcı</option>
                        </select>
                    </div>
                    <div class="global-pages-div"><a href="#">Kullanıcı - 2</a>
                        <div class="global-pages-div-img-kategori"><a href="#"><img src="assets/img/delete.png"
                                    alt=""></a></div>
                        <div class="global-pages-div-img-kategori"><a href="/kullanici-duzenle"><img
                                    src="assets/img/edit.png" alt=""></a></div>
                        <select name="kullaniciRol" id="">
                            <option value="Admin" selected>Admin</option>
                            <option value="Teknisyen">Teknisyen</option>
                            <option value="Kullanıcı">Kullanıcı</option>
                        </select>
                    </div>
                    <div class="global-pages-div"><a href="#">Kullanıcı - 3</a>
                        <div class="global-pages-div-img-kategori"><a href="#"><img src="assets/img/delete.png"
                                    alt=""></a></div>
                        <div class="global-pages-div-img-kategori"><a href="/kullanici-duzenle"><img
                                    src="assets/img/edit.png" alt=""></a></div>
                        <select name="kullaniciRol" id="">
                            <option value="Admin">Admin</option>
                            <option value="Teknisyen">Teknisyen</option>
                            <option value="Kullanıcı" selected>Kullanıcı</option>
                        </select>
                    </div>
                    <div class="global-pages-div"><a href="#">Kullanıcı - 4</a>
                        <div class="global-pages-div-img-kategori"><a href="#"><img src="assets/img/delete.png"
                                    alt=""></a></div>
                        <div class="global-pages-div-img-kategori"><a href="/kullanici-duzenle"><img
                                    src="assets/img/edit.png" alt=""></a></div>
                        <select name="kullaniciRol" id="">
                            <option value="Admin">Admin</option>
                            <option value="Teknisyen">Teknisyen</option>
                            <option value="Kullanıcı" selected>Kullanıcı</option>
                        </select>
                    </div>
                    <div class="global-pages-div"><a href="#">Kullanıcı - 5</a>
                        <div class="global-pages-div-img-kategori"><a href="#"><img src="assets/img/delete.png"
                                    alt=""></a></div>
                        <div class="global-pages-div-img-kategori"><a href="/kullanici-duzenle"><img
                                    src="assets/img/edit.png" alt=""></a></div>
                        <select name="kullaniciRol" id="">
                            <option value="Admin">Admin</option>
                            <option value="Teknisyen" selected>Teknisyen</option>
                            <option value="Kullanıcı">Kullanıcı</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="footer">&copy; Copyrights - 2019 | IntTechProje </div>
    </div>
    </div>
</body>

</html>