<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kullanıcı Ekle</title>
    <link rel="stylesheet" href="assets/css/style-2.css">
</head>
<body>
   <div class="container">
      <div class="header">
          <div class="nav">
            <ul>
                <li class="tutorials"><a href="/admin-home">Site Logo</a></li>
            </ul>
         <div class="center-area">
                <div class="klc">
				<div><input type="text" name="username" placeholder="@username" required></div>
                <div><input type="password" name="password" placeholder="Şifre" required></div>
                <div><input type="email" name="email" placeholder="Email" required></div>
                <div class="cex"><input type="checkbox" name="vehicle1" value="Bike"> Sözleşmeyi Okudum Ve Kabul Ediyorum.<br></div>
                <div class="btn" ><button type="submit"> GÖNDER</button></div>
			</form></div>
            </div>
         </div>
         </div>
          </div>
         <div class="clear"></div>
         <div class="footer">&copy; Copyrights - 2019 | IntTechProje </div>
      </div>  
    </div>
</body>
</html>