<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.css">
    <title>Site Meta Ayarları</title>
</head>
<body>
    <div class="container">
      <div class="header">
          <div class="nav">
            <ul>
                <li class="home"><a href="/site-ayarlari">Site ayarlarına geri dön</a></li>
                <li class="tutorials"><a href="/admin-home">Site Logo</a></li>
                <li class="about"><a href="/cikis">Çıkış Yap</a></li>
            </ul>
         </div>
         <div class="center-area">
            <div class="global-pages">
                <a href="/site-meta-ayarlari"><div class="global-pages-title">Site Meta Ayarları</div></a>
                <form action="" method="POST">
                <a href="#"><div class="global-pages-input"><input type="text" name="siteAnahtarKelimeleri" placeholder="Site Anahtar Kelimeleri" required></div></a>
                <a href="#"><div class="global-pages-input"><input type="text" name="siteYazari" placeholder="Site Yazarı" required></div></a>
                <a href="#"><div class="global-pages-input"><input type="text" name="siteAciklamasi" placeholder="Site Açıklaması" required></div></a>
                <a href="#"><div class="global-pages-input"><input type="text" name="siteCopyrights" placeholder="Site Copyrights" required></div></a>
                <a href="#"><div class="global-pages-input"><input type="text" name="siteOwner" placeholder="Site Owner" required></div></a>
             
                <a href="#"><div class="global-pages-input"><button type="submit">Kaydet</button></div></a>
                </form>
            </div>
         </div>
          <div class="clear"></div>
         <div class="footer">&copy; Copyrights - 2019 | IntTechProje </div>
      </div>  
    </div>
</body>
</html>