<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.css">
    <title>Site Logo & Favicon Ayarları</title>
</head>
<body>
    <div class="container">
      <div class="header">
          <div class="nav">
            <ul>
                <li class="home"><a href="/site-ayarlari">Ayarlara geri dön</a></li>
                <li class="tutorials"><a href="/admin-home">Site Logo</a></li>
                <li class="about"><a href="/cikis">Çıkış Yap</a></li>
            </ul>
         </div>
         <div class="center-area">
            <div class="global-pages">
             <form action="" method="POST">
                <a href="/site-logo-ayarlari"><div class="global-pages-title">Site Logo & Favicon Ayarları </div></a>
                <a href="#">
                    <div class="site-logo-favicon">
                        <div class="site-logo-favicon-ayarlari"><img src="assets/img/Google-favicon-2015.png" alt=""></div>
                        <div class="site-logo-favicon-ayarlari"><img src="assets/img/upload.jpg" alt=""></div>
                    </div>
                </a>
                <a href="#">
                    <div class="site-logo-favicon">
                        <div class="site-logo-favicon-ayarlari"><img src="assets/img/logo.png" alt=""></div>
                        <div class="site-logo-favicon-ayarlari"><img src="assets/img/upload.jpg" alt=""></div>
                    </div>
                </a>
                <a href="#"><div class="global-pages-input"><button type="submit">Kaydet</button></div></a>
            </form>
            </div>
         </div>
          <div class="clear"></div>
         <div class="footer">&copy; Copyrights - 2019 | IntTechProje </div>
      </div>  
    </div>
</body>
</html>