<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.css">
    <title>Hizmet Oluştur</title>
</head>
<body>
    <div class="container">
      <div class="header">
          <div class="nav">
            <ul>
                <li class="home"><a href="/taleplerim">Taleplerimi Görüntüle</a></li>
                <li class="tutorials"><a href="/user-home">Site Logo</a></li>
                <li class="about"><a href="/cikis">Çıkış Yap</a></li>
            </ul>
         </div>
         <div class="center-area">
            <div class="center-area-1">
                <div class="area-1-left">
                    <div class="area-1-input-1"><input type="text" placeholder="@ad soyad" disabled></div>
                    <div class="clear"></div>
                    <div class="area-1-input-2"><input type="text" placeholder="@username" disabled></div>
               </div>
               <div class="area-1-right">
                    <div class="area-1-select">
                        <select name="" id="">
                            <option value="Sorun 1" selected>Sorun 1</option>
                            <option value="Sorun 2">Sorun 2</option>
                        </select>
                        </div>
                    <div class="clear"></div>
                    <div class="area-1-select">
                        <select name="" id="">
                            <option value="Teknisyen 1">Teknisyen 1</option>
                            <option value="Teknisyen 2" selected>Teknisyen 2</option>
                        </select>
                    </div>
               </div>
            </div>
            <div class="clear"></div>
            <div class="center-area-2">
                <input type="text" name="subject" placeholder="Konu...">
            </div>
            <div class="clear"></div>
            <div class="center-area-3">
                <textarea name=""></textarea>
            </div>
             <div class="center-area-4">
                <button type="submit">Bir sorun bildir</button>
            </div>
         </div>
          <div class="clear"></div>
         <div class="footer">&copy; Copyrights - 2019 | IntTechProje </div>
      </div>  
    </div>
</body>
</html>