<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.css">
    <title>Taleplerimi Görüntüle</title>
</head>
<body>
    <div class="container">
      <div class="header">
          <div class="nav">
            <ul>
                <li class="home"><a href="/user-home">Anasayfa</a></li>
                <li class="tutorials"><a href="/user-home">Site Logo</a></li>
                <li class="about"><a href="/cikis">Çıkış Yap</a></li>
            </ul>
         </div>
         <div class="center-area">
            <div class="center-area-talep">
                <div class="area-talep-title"><a href="taleplerim">Taleplerim</a></div>
                <div class="area-talepler">
                    <div class="area-talepler-text"><a href="talep-open">Talep 1</a></div>
                    <div class="area-talepler-type">Durum: Çözüldü</div>
                    <div class="area-talepler-edit"><a href="talebimi-goruntule"><img src="assets/img/edit.png" alt=""></a></div>
                </div>
            </div>
         </div>
          <div class="clear"></div>
         <div class="footer">&copy; Copyrights - 2019 | IntTechProje </div>
      </div>  
    </div>
</body>
</html>