<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.css">
    <title>Teknisyen - Anasayfa</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="nav">
                <ul>
                    <li class="home"><a href="/teknisyen-home">Anasayfaya geri dön</a></li>
                    <li class="tutorials"><a href="/admin-home">Site Logo</a></li>
                    <li class="about"><a href="/cikis">Çıkış Yap</a></li>
                </ul>
            </div>
            <div class="center-area">
                <a href="/beklemede-olan-taleplerim">
                    <div class="teknisyen-home-div">Beklemede Olan Talepler</div>
                </a>
                <a href="/gunluk-yapilmasi-gereken-taleplerim">
                    <div class="teknisyen-home-div">Günlük Yapılması Gereken Talepler</div>
                </a>
                <a href="/suresi-dolan-taleplerim">
                    <div class="teknisyen-home-div">Süresi Dolan Talepler</div>
                </a>
                <a href="/hizmet-talepleri">
                    <div class="teknisyen-home-div">Hizmet Talepleri</div>
                </a>
                <a href="/onay-bekleyen-talepler">
                    <div class="teknisyen-home-div">Onay Bekleyen Talepler</div>
                </a>
                <a href="/envanterler">
                    <div class="teknisyen-home-div">Envanterler</div>
                </a>
            </div>
            <div class="clear"></div>
            <div class="footer">&copy; Copyrights - 2019 | IntTechProje </div>
        </div>
    </div>
</body>

</html>