<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.css">
    <title>Teknisyen Raporları</title>
</head>
<body>
    <div class="container">
      <div class="header">
          <div class="nav">
            <ul>
                <li class="home"><a href="/raporlar">Raporlara geri dön</a></li>
                <li class="tutorials"><a href="/admin-home">Site Logo</a></li>
                <li class="about"><a href="/cikis">Çıkış Yap</a></li>
            </ul>
         </div>
         <div class="center-area">
            <div class="global-pages">
                <a href="/teknisyen-raporlari"><div class="global-pages-title">Teknisyen Raporları</div></a>
                <div class="global-pages-div"><a href="/tum-teknisyenler">Tüm Teknisyenler</a>
                <div class="global-pages-div-right"><a href="/tum-teknisyenler">4</a></div>
                </div>
              <div class="global-pages-div"><a href="/en-cok-istek-kapatan-teknisyenler">En Çok İstek Kapatan Teknisyenler</a>
              <div class="global-pages-div-right"><a href="/en-cok-istek-kapatan-teknisyenler">3</a></div>
              </div>
            </div>
         </div>
          <div class="clear"></div>
         <div class="footer">&copy; Copyrights - 2019 | IntTechProje </div>
      </div>  
    </div>
</body>
</html>