<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.css">
    <title>Tüm Kullanıcılar</title>
</head>
<body>
    <div class="container">
      <div class="header">
          <div class="nav">
            <ul>
                <li class="home"><a href="/kullanici-raporlari">Kullanıcı Raporları</a></li>
                <li class="tutorials"><a href="/admin-home">Site Logo</a></li>
                <li class="about"><a href="/cikis">Çıkış Yap</a></li>
            </ul>
         </div>
         <div class="center-area">
            <div class="global-pages">
                <a href="/tum-kullanicilar"><div class="global-pages-title">Tüm Kullanıcılar</div></a>
                <a href="#"><div class="global-pages-div">Kullanıcı - 1</div></a>
                <a href="#"><div class="global-pages-div">Kullanıcı - 2</div></a>
                <a href="#"><div class="global-pages-div">Kullanıcı - 3</div></a>
                <a href="#"><div class="global-pages-div">Kullanıcı - 4</div></a>
                <a href="#"><div class="global-pages-div">Kullanıcı - 5</div></a>
            </div>
         </div>
          <div class="clear"></div>
         <div class="footer">&copy; Copyrights - 2019 | IntTechProje </div>
      </div>  
    </div>
</body>
</html>