<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.css">
    <title>Kullanıcı - Anasayfa</title>
</head>
<body>
    <div class="container">
      <div class="header">
          <div class="nav">
            <ul>
                <li class="home"><a href="/taleplerim">Taleplerimi Görüntüle</a></li>
                <li class="tutorials"><a href="/user-home">Site Logo</a></li>
                <li class="about"><a href="/cikis">Çıkış Yap</a></li>
            </ul>
         </div>
         <div class="center-area">
             <div class="home-button">
                <a href="/kullanici-profili"><button type="submit">Profilim</button></a>
             </div>
             <div class="home-text">
                <div class="home-text-left">
                    Yeni bir hizmet isteği oluştur
                </div>
                <div class="home-text-right">
                    Bir sorun bildir
                </div>
             </div>
             <div class="home-oval">
                <div class="home-oval-left">
                  <a href="/hizmet-olustur"><img src="assets/img/Symbol_OK.png" alt=""></a>
                </div>
                <div class="home-oval-right">
                    <a href="/sorun-olustur"><img src="assets/img/Symbol_OK.png" alt=""></a>
                </div>
             </div>
         </div>
          <div class="clear"></div>
         <div class="footer">&copy; Copyrights - 2019 | IntTechProje </div>
      </div>  
    </div>
</body>
</html>