.login-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}

.login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}

.login-form input[type="password"],
.login-form input[type="text"],
[type="email"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 824px;
    background-color: #ccc;
    border: 1px solid #000;
}

.header {
    background-color: #4d4d4d;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}

.center-area {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: #005f5f;
    border: 1px solid #444;
}

.home-button {
    width: 200px;
    margin: 25px auto;
    background-color: #fff;
    text-align: center;
}

.home-button>a>button {
    width: 200px;
    height: 30px !important;
}

.home-text {
    height: 25px;
    float: left;
    margin-top: 50px;
    margin-left: 50px;
}

.home-text-left {
    width: 200px;
    float: left;
    margin-left: 25px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #ccc;
}

.home-text-right {
    width: 200px;
    float: right;
    margin-left: 25px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #ccc;
}

.home-oval {
    height: 25px;
    float: left;
    margin-top: 25px;
    margin-left: 50px;
}

.home-oval-left {
    width: 200px;
    height: 200px;
    float: left;
    border-radius: 100%;
    margin-left: 25px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #ccc;
    overflow: hidden;
}

.home-oval-left>a>img {
    width: 100%;
    height: 100%;
}

.home-oval-right {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    float: right;
    margin-left: 25px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #ccc;
    overflow: hidden;
}

.home-oval-right>a>img {
    width: 100%;
    height: 100%;
}

.center-area-1 {
    margin: 25px auto;
    width: 500px;
    height: 150px;
    background-color: #fff;
}

.area-1-left {
    margin-top: 25px;
    margin-left: 25px;
    float: left;
}

.area-1-input-1 {
    width: 100px;
    height: 40px;
    float: left;
    margin-bottom: 10px;
}

.area-1-input-1>input[type="text"] {
    height: 40px;
    float: left;
}

.area-1-input-2 {
    width: 100px;
    height: 40px;
    float: left;
}

.area-1-input-2>input[type="text"] {
    height: 40px;
    float: left;
}

.area-1-right {
    margin-top: 25px;
    margin-right: 120px;
    float: right;
}

.area-1-select {
    width: 100px;
    height: 40px;
    float: left;
    margin-bottom: 10px;
}

.area-1-select>select {
    width: 250px;
    height: 46px;
    float: right;
    margin-right: -100px;
    margin-bottom: 10px;
}

.center-area-talep {
    margin: 0px auto;
    width: 450px;
    height: 500px;
    background-color: #fff;
}

.center-area-2 {
    margin: 25px auto;
    width: 500px;
    height: 25px;
    background-color: #fff;
}

.center-area-2>input[type="text"] {
    width: 100%;
    height: 100%;
}

.center-area-3 {
    margin: 25px auto;
    width: 500px;
    height: 150px;
    background-color: #fff;
}

.center-area-3>textarea {
    width: 100%;
    height: 100%;
}

.center-area-taleplerimi-goruntule {
    margin: 25px auto;
    width: 500px;
    height: 75px;
    background-color: #fff;
}

.center-area-taleplerimi-goruntule>textarea {
    width: 100%;
    height: 100%;
}

.center-area-4 {
    margin: 25px auto;
    width: 500px;
    height: 25px;
    background-color: #fff;
}

.center-area-4>button[type="submit"] {
    width: 505px;
    height: 100%;
}

.area-talep-title {
    width: 448px;
    height: 50px;
    border: 1px solid #000;
    color: #000;
    text-align: center;
    padding-top: 30px;
}

.area-talepler {
    width: 448px;
    height: 80px;
    background-color: #fff;
    border: 1px solid #000;
}

.area-talepler-text {
    width: 170px;
    height: 16px;
    background-color: #fff;
    color: #000;
    margin-top: 30px;
    margin-left: 20px;
}

.area-talep-title>a {
    color: #000;
}

.area-talepler-text>a {
    color: #000;
}

.area-talepler-type {
    height: 16px;
    background-color: #fff;
    color: #000;
    margin-left: 200px;
    margin-top: -16px;
    float: left;
}

.area-talepler-edit {
    background-color: #fff;
    color: #000;
    margin-right: 15px;
    ;
    margin-top: -38px;
    float: right;
    overflow: hidden;
    height: 65px;
}

.area-talepler-edit>a>img {
    width: 100%;
    height: 100%;
}

.clear {
    clear: both;
}

.center-area-title {
    margin-left: 250px;
    margin-top: 20px;
}

.center-area-1-title {
    margin-left: 170px;
    margin-top: 0px;
    padding-top: 10px;
}

.user-info-area {
    margin-top: 30px;
    height: 50px;
    float: left;
    width: 100%;
}

.user-info-area>input[type="text"] {
    height: 40px;
    width: 155px;
    margin-left: 3px;
    margin-top: 2px;
}

.global-pages {
    width: 400px;
    background-color: #fff;
    margin: 0px auto;
    height: 500px;
}

.global-pages-title {
    width: 390px;
    background-color: #aaa;
    margin: 5px;
    height: 60px;
    float: left;
    text-align: center;
    padding-top: 40px;
}

.global-pages-div {
    width: 385px;
    background-color: #aaa;
    margin: 5px;
    height: 40px;
    float: left;
    text-align: left;
    padding-top: 20px;
    padding-left: 5px;
}

.global-pages-div-logo {
    width: 385px;
    background-color: #aaa;
    margin: 5px;
    height: 120px;
    float: left;
    text-align: left;
    padding-top: 20px;
    padding-left: 5px;
}

.site-logo-favicon {
    width: 385px;
    background-color: #aaa;
    margin: 5px;
    height: 120px;
    float: left;
    text-align: left;
    overflow: hidden;
}

.site-logo-favicon-ayarlari {
    width: 185px;
    height: 120px;
    float: left;
    margin-left: 5px;
}

.area-talepler-edit {
    width: 50px;
}

.area-talepler-edit>a>img {
    width: 100%;
    height: 100%;
}

.site-logo-favicon-ayarlari>img {
    width: 100%;
    height: 100%;
}

.global-pages-input {
    width: 385px;
    background-color: #aaa;
    margin: 5px;
    height: 40px;
    float: left;
    text-align: left;
}

.global-pages-input>input[type="text"] {
    width: 100%;
    height: 100%;
}

.global-pages-input>button[type="submit"] {
    width: 100%;
    height: 100%;
}

.global-pages-input>input[type="url"] {
    width: 100%;
    height: 100%;
}

.global-pages-input>input[type="password"] {
    width: 100%;
    height: 100%;
}

.global-pages-input>input[type="mail"] {
    width: 100%;
    height: 100%;
}

.global-pages-div-right {
    float: right;
    margin-right: 0px;
    margin-top: -20px;
    border: 1px solid #ccc;
    width: 100px;
    height: 38px;
    padding-left: 5px;
    padding-top: 20px;
    text-align: center;
}

.global-pages-div-img {
    float: right;
    margin-right: 0px;
    margin-top: -20px;
    border: 1px solid #ccc;
    width: 100px;
    height: 58px;
}

.global-pages-div-img>a>img {
    width: 100%;
    height: 100%;
}

.global-pages-div-img-kategori {
    float: right;
    margin-right: 0px;
    margin-top: -20px;
    border: 1px solid #ccc;
    width: 50px;
    height: 58px;
}

.global-pages-div-img-kategori>a>img {
    width: 100%;
    height: 100%;
}

.global-pages-oval-image {
    width: 200px;
    background-color: #aaa;
    margin: 0px auto;
    height: 240px;
    text-align: center;
    border-radius: 100%;
    overflow: hidden;
}

.global-pages-oval-image>img {
    width: 100%;
    height: 100%;
}

.center-text {
    text-align: center;
    padding-top: 200px
}

.teknisyen-home-div {
    width: 190px;
    height: 140px;
    background-color: #fff;
    margin: 5px;
    float: left;
    text-align: center;
    padding-top: 100px;
}

.max-404-text {
    font-size: 120px;
    margin: 50px auto;
    text-align: center;
}

.text-404 {
    margin-top: 20px;
    text-align: center;
}

.anasayfa-r-button {
    text-align: center;
    margin-top: 20px;
}

.admin-left-menu {
    float: left;
    width: 250px;
    height: 500px;
    background-color: #fff;
    border-right: 1px solid #ccc;
}

.admin-left-menu-item {
    border: 1px solid #ccc;
    height: 50px;
}

.admin-left-area {
    float: left;
    background-color: #fff;
    width: 344px;
    height: 495px;
    padding-top: 5px;
    padding-left: 5px;
}

.envanter-area {
    width: 390px;
    background-color: #aaa;
    margin: 5px;
    height: 70px;
    float: left;
    text-align: left;
}

.envanter-area-ekle {
    width: 390px;
    background-color: #aaa;
    margin: 5px;
    height: 40px;
    float: left;
    text-align: center;
    padding-top: 20px;
}

.envanter-img {
    width: 100px;
    height: 70px;
    float: left;
    overflow: hidden;
}

.envanter-img>a>img {
    width: 100%;
    height: 100%;
}

.envanter-text {
    width: 170px;
    height: 65px;
    padding-left: 5px;
    padding-top: 5px;
    float: left;
    margin-left: 5px;
}

.envanter-buton {
    width: 100px;
    height: 63px;
    float: left;
    margin-left: 5px;
    padding-top: 7px;
}

.envanter-buton>a>button {
    width: 100px;
    margin-bottom: 5px;
}

.envanter-goruntule-area-1 {
    width: 390px;
    height: 200px;
    float: left;
    margin: 5px;
}

.envanter-goruntule-area-1-left {
    width: 183px;
    height: 190px;
    float: left;
    margin: 5px;
    overflow: hidden;
    border: 1px solid #ccc;
}

.envanter-goruntule-area-1-right {
    width: 178px;
    height: 185px;
    float: left;
    margin: 5px;
    overflow: hidden;
    padding-top: 5px;
    padding-left: 5px;
    border: 1px solid #ccc;
}

.envanter-goruntule-area-1-left>img {
    width: 100%;
    height: 100%;
}

.envanter-goruntule-area-2 {
    width: 390px;
    height: 280px;
    float: left;
    margin: 5px;
}

.envanter-goruntule-area-2-title {
    height: 28px;
    width: 385px;
    border: 1px solid #ddd;
    text-align: center;
    padding-top: 10px;
}

.envanter-goruntule-area-2-info {
    height: 38px;
    width: 382px;
    border: 1px solid #ddd;
    padding-top: -1px;
}

.envanter-goruntule-area-2-info>input[type="text"] {
    width: 100%;
    height: 100%;
}

.envanter-goruntule-area-1-right>form>input[type="text"] {
    float: left;
    margin-top: 50px;
    height: 40px;
    width: 170px;
}

.envanter-goruntule-area-1-right>form>button[type="submit"] {
    float: right;
    margin-top: 5px;
    margin-right: 4px;
}

.envanter-goruntule-area-2-info>form>button[type="submit"] {
    float: right;
    margin-top: 10px;
    margin-right: -5px;
}

.envanter-goruntule-area-2-info>button[type="submit"] {
    float: right;
    margin-top: 10px;
    margin-right: -5px;
}

.footer {
    bottom: 0;
    height: 25px;
    background-color: #4d4d4d;
    border-top: 1px solid #000;
    text-align: center;
    text-decoration: none;
    color: #fff;
}


/* header menu */

.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    border-bottom: 1px solid #888;
    width: 150px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #005f5f;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 270px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }
    /* Option 1 - Display Inline */
    .nav li {
        display: inline-block;
    }
    /* Options 2 - Float
    .nav li {
      float: left;
    }
    .nav ul {
      overflow: auto;
      width: 600px;
      margin: 0 auto;
    }
    .nav {
      background-color: #444;
    }
    */
}


/* header menü */