.login-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}
.login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}
.login-form input[type="text"],[type="email"],[type="submit"],[type="password"] {
    width: 90%;
    height: 10px;
    padding: 15px ;
    border: 1px solid #dddddd;
    box-sizing:border-box;
    margin-left: 18px;
    
}



*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.container{
    margin: 0 auto;
    width: 824px;
    background-color: #ccc;
    border: 1px solid #000;

}

.header{
    background-color: #4d4d4d;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}

.center-area{
    width: 600px;
    height: 400px;
    margin: 0 auto;
    background-color: #005f5f;
    border: 1px solid #444;
}
.clear{
    clear: both;
}
.footer{
    bottom: 0;
    height: 25px;
    background-color: #4d4d4d;
    border-top: 1px solid #000;
    text-align: center;
    text-decoration: none;
}

/* header menü */
.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    border-bottom: 1px solid #888;
    width: 150px;
  }
   
  .nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
  }
   
  .nav a:hover {
    background-color: #005f5f;
  }
   
  .nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
  }
  @media screen and (min-width: 600px) {
    .nav li {
      width: 270px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
    }
   
    /* Option 1 - Display Inline */
    .nav li {
      display: inline-block;
    }
   
    /* Options 2 - Float
    .nav li {
      float: left;
    }
    .nav ul {
      overflow: auto;
      width: 600px;
      margin: 0 auto;
    }
    .nav {
      background-color: #444;
    }
    */
  }
  /* header menü */
  #icon{

    margin-left: 49%;
    margin-top: 10%;
  }
  
  .center-area input[type="text"],[type="email"],[type="password"]{
    width: 80%;
    padding: 15px;
    margin-left: 35px;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
    box-sizing:border-box;
}

.profileedit {
  width: 65%;
  height: 80%;
  background-color: white;
    padding: 15px;

    margin-top: 15px;
    margin-left: 100px;
}
.profileedit > #id > img{
  width:25px;
  height: 25px;
}
.box1{
  width: 80%;
  padding: 15px;
  margin-top: 15px;
  margin-left: 7.5%;
  background-color: #dddddd;
  text-align:center;
}

.center-area > a:link {text-decoration: none;}
.center-area > a:visited {text-decoration: none;}
.center-area > a:hover {text-decoration: none;}
.center-area > a:active {text-decoration: none;}

.ist{
  width: 80%;
  padding: 15px;
  margin-top: 15px;
  margin-left: 7.5%;
  background-color: #dddddd;
}
.cop{
  float: right;
  margin-right: 10px; 
  margin-left: 8px;
}
.adminana{
  width: 170px;
  height: 50px;
  margin-top: 5px;
background-color: #fff;
margin-left: 10px;
text-align: center;
}
.adminana1{
  width:400px;
  height: 270px;
  float: right;
background-color: #fff;
margin-left: 10px;
margin-top: -269px;

}
.ft{
text-align: center;
margin-top: 10PX;

}
.adminana> a:link {text-decoration: none;}
.adminana> a:visited {text-decoration: none;}
.adminana> a:hover {text-decoration: none;}
.adminana> a:active {text-decoration: none;}
.klc{
  margin-top: 30PX;
  width: 90%;
  margin-left: 45px;
}
.btn{
  margin-left: 15px;
  width: 90%;
  
}
.cex{
  margin-left: 35px;
  width: 90%;
  margin-bottom: 15px;
  
}
.box2{
  width: 74%;
  padding: 15px;
  margin-top: 15px;
  margin-left: 7.5%;
  background-color: #dddddd;
  text-align:center;
  margin-bottom: 10px;
}
.kml{
  width: 90%;
  margin-left: 16px;

}